<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" media="all"
        href="{{ STATIC_URL }}daily_edition/daily-edition.css" />
  {% block head %}{% endblock %}
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div id="container">
  <div id="header">
    <div id="static">{% block header %}{% endblock %}</div>
    <div id="info">
      {% block info %}{% endblock %}
    </div>
  </div>
  <div id="articles">
    <div class="article"> 
      <div class="content">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% block content %}{% endblock %}</div>
    </div>
  </div>
  <div id="footer">
    <div id="links"><a href="{% url publish-edition %}">publish</a> | <a href="{% url latest-edition %}">latest</a> | <a href="{% url view-list %}">list</a> | <a href="{% url admin:daily_edition_person_changelist %}">people</a></div>
  </div>
</div>
<div id="templates">
  <div class="article">
    <div class="title"><a class="link"></a></div>
    <div class="author"></div>
    <div class="date"></div>
    <div class="content"></div>
  </div>
</div>
<script src="{{ STATIC_URL }}daily_edition/jquery.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
