{% extends "base.html" %}
{% block head %}
<style>
textarea {
  width: 100%;
  height: 20em;
  font-family: inherit;
  font-size: 12pt;
  line-height: 1.5em;
}
</style>
{% endblock %}
{% block title %}Edit Your Influencer List{% endblock %}
{% block header %}Edit Your Influencer List.{% endblock %}
{% block content %}
<p>Looking for someone in particular? Try <a href="{% url admin:daily_edition_person_changelist %}">search</a>.</p>
<form method="POST">
{% csrf_token %}
<p>
<textarea name="text">{{ text }}</textarea>
</p>
<input type="submit" value="Save Changes"/>
</form>
{% endblock %}
