{% extends "base.html" %}

{% block head %}
<base target="_blank"/>
<style>
div#container {
  display: none;
}
</style>
{% endblock %}
{% block title %}The Daily Edition{% endblock %}
{% block header %}This is The Daily Edition.{% endblock %}
{% block info %}
<span id="issue">Issue <span id="issue-no"></span></span>
<span id="pub">&mdash; <span id="pub-date"></span></span>
{% endblock %}
{% block scripts %}
<script src="{{ STATIC_URL }}daily_edition/html-sanitizer-minified.js"></script>
<script src="{{ STATIC_URL }}daily_edition/daily-edition.js"></script>
{% endblock %}
