{% extends "base.html" %}
{% block head %}
<style>
div.response {
  padding-top: 1em;
  font-family: Monaco, "Lucida Console", monospace;
}
</style>
{% endblock %}
{% block title %}Publish A New Daily Edition{% endblock %}
{% block header %}Publish A New Daily Edition.{% endblock %}
{% block content %}
<p>You can read the <a href="{% url latest-edition %}">latest edition</a> or publish a new one here.</p>
<p>You can also edit your <a href="{% url edit-list %}">influencer list</a>.</p>
<p>For now, people can be managed in the <a href="{% url admin:daily_edition_person_changelist %}">admin interface</a>.</p>
<form method="POST">
{% csrf_token %}
<p>
<input type="checkbox" name="refresh-feeds"/>Refresh Feeds</input>
</p>
<input type="submit" value="Publish New Daily Edition"/>
</form>
<div class="response">
{{ response }}
</div>
{% endblock %}
