{% extends "base.html" %}
{% block title %}Publish A New Daily Edition{% endblock %}
{% block header %}Publish A New Daily Edition.{% endblock %}
{% block content %}
{% if issues %}
<p>Recently published issues:</p>
<ul>
{% for issue in issues reversed %}
  <li><a href="{% url view-edition issue.number %}">Issue {{ issue.number }}</a>, published {{ issue.pub_date|date:"N j" }}</li>
{% endfor %}
</ul>
{% else %}
<p>No issues are ready for viewing yet.</p>
{% endif %}
<form method="POST">
{% csrf_token %}
<input type="submit" value="Publish New Daily Edition"/>
</form>
{% endblock %}
